.api{
	position: relative;
	padding: 0px 25% 0px 40px;
	@media all and (max-width: $break-width){
		padding: 20px;	
	}
	
	
	.api-tag{
		padding: 5px 10px;
		background: #40498C;
		color:white;
		//font-size: 20px;
		display: inline-block;
		float:left;
		margin-right: 10px;
		border-radius: 3px;
		&.get{
			background: #346767;
			color:white;
			
		}
		&.put{
			background: #40658C;
		}
		
	}
	#toc{
		position: fixed;
		top: $header-height + 100px;
		right: 0px;
		width: $nav-aside-width;
		@media all and (max-width: $break-width){
			position: static;
			top: auto;
			right: auto;
			width: auto;
		}
	}
	hr{
		margin-bottom: 10px;
	}
	h1{
		
		font-size: 28px;
		margin-top: 60px;
		
		margin-bottom: 10px;
		text-shadow: 0px -1px 0px $border-color;
		letter-spacing: 1px;
		a{
			float: right;
			font-size: 50%;
			border:1px  $border-color solid;
			padding: 4px 6px;
			border-radius: 5px;
			margin-right: 20px;
			&:hover{
				background: $border-color;
				text-decoration: none;
				color: white;
			}

		}
	}
	
	h3{
		margin-top: 30px;
		font-size: 120%;
	}
	
	strong{
		color: white;
	}
	a{
		color: #69c;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
		
	}
	
	textarea.oval{
		box-shadow: inset 0px 0px 5px fade(black,50%);
		border: 1px $border-color solid;
		overflow-x: scroll;
		width: 90%;
		color: white;
		transition:all 250ms ease;
		&:focus{
			background: black;
		}
		
		&::-webkit-scrollbar { 
		  
		  display: none;
		}		
	}
}

.example-return{
	word-wrap: break-word;
	white-space: pre;
	padding: 10px 20px;
	background: $border-color;
	color: #ccc;
	height: 70px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	&:before{
		position: absolute;
		background: $mage-dark;
		color: $mage-grey;
		width: 200px;
		padding: 10px;
		content: 'Example';
		top: 0px;
		right: 0px;
		border-radius: 0px 4px 0px 4px;
		
	}
	&:hover{
		height: auto;
	}
	
}