$resultsMarginRight: 35px;

// this was setup for the global search rows
.is-flex-direction-column {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .global-search-container{
    position: relative;
    width: 100%;
    min-height: 30px;
  }
  .global-search {
    position: absolute;
    width: 100%;
    //min-width: 400px;
    z-index: 10000;
    //border: 1px $mage-grey solid;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background: transparent;

    &::before{
      position: fixed;
      top: -10000px;
      left: -400px;
      width: 1000000px;
      height: 100000px;
      background: rgba(0,0,0,.65);
      z-index: 0;
      content: "*";
    }
    &.closed{
      z-index: 0;
      .card-header {
        border-radius: 5px;
      }
      &::before{
        display: none;
        content: none;
      }
      .card-content, .card-footer{
        display: none;
      }
    }
    .search-box.card {
      background: transparent;
      border: none;
      position: relative;

    }
    .card-header{
      background: transparent;
      box-shadow: 0px 0px 5px #000;
      position: relative;
      z-index: 1;
      overflow: hidden;
      .search-input{
        flex-grow: 4;
        .grow{
          flex-grow: 1;
        }
        .clear-button{
          margin: 0px;
          border: none;
          background: white;
          border-radius: 0px;
          color: $mage-grey;
          padding-top: 7px;
          &:hover{
            color: red;
            background-color: #e8e8e8;
          }
        }
      }
      .searchColumn{
        padding-right: 0px;
        input.input {
          border: none;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          &:focus,&:active {
            outline: none;
            box-shadow: none;
            border-color:#52575c;
          }
        }

      }
      .expansionColumn{
        padding-left: 0px;
        @media all and (max-width: $break-width){
          display: none;
        }
        input.input {
          border: none;
          border-radius: 0px;

          &:focus,&:active {
            outline: none;
            box-shadow: none;
            border-color:#52575c;
          }

        }
      }
      .inside-button {
        padding: 0px;
        margin-right: 10px;
        button.is-outlined{
          color: $mage-dark;
          background-image: none;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          background-color: #e8e8e8;
          border-color: white;
          @media all and (max-width: $break-width) {
            .buttonName {
              display: none;
            }
          }

        }

      }
    }
    .card-content{
      padding: 0px;
      margin: 0px 20px 0px 16px;
      background: $mage-dark;

      position: relative;
      box-shadow: 0px 0px 5px #000;
      @media all and (max-width: $break-width){
        margin: 0;
      }
      .advancedSearchOptions {
        height: 0px;
        width: 100%;
        overflow: hidden;
        transition: height 200ms ease;
        line-height: normal;
        &.open{
          height: 90px;
          @media all and (max-width: $break-width){
            height: 126px;
          }
        }
        .container{
          padding: 10px 20px 0px 20px;
          max-width: 100%;
          label {

            width: auto;
            font-size: 14px;
            display: inline-block;
            color: $grey;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 4px;
            em {

              display: block !important;
              font-size: 60%;
            }
          }
          .icon.is-left{
            width: 2.2em;
            height: 2.2em;
          }
        }
      }
      // rows
      .searchResults{
        min-height: 370px;
        max-height: 400px;
        overflow-y: scroll;
        .searchRow{
          display: flex;
          border-bottom: 1px solid black;
          &:nth-child(even){
            background: $mage-dark;

          }
          &:nth-child(odd){
            background: lighten($mage-dark,5%);
          }
          &.isSelected {
            background: black !important;
          }
          &:hover {
            background: darken($mage-dark,5%);
          }
          .itemName{
            padding:  0px;
            line-height: 14px ;
            width: 160px;
            overflow: hidden;
            flex-grow: 1;
            h4,p {
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            }
            h4 {
              margin-top: 0 !important;
            }
            p {
              font-size: 12px;
              color: $mage-grey;
              margin-bottom: 0;
            }
          }
          .field{
            margin-bottom: 0;
            p {
              margin-bottom: 0;
            }
          }
          .inventoryButtons{
            display: none !important;
          }
          button.is-small, .button.is-small, .input.is-small {
            padding-top: 0px;
            padding-bottom: 0px;
            height: 20px !important;
            line-height: 20px;
            font-size: 12px;
            &.searchAcquiredPrice{
              width: 60px;
            }
            &.searchQuantity {
              width: 30px;
              padding-left: 0px;
              padding-right: 0px;
              text-align: center;
            }
          }

          .searchRowPrices {
            width: 60px;
            overflow: hidden;
            div {
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

            }
          }
          .searchRowUtilities{
            padding: 9px;
            text-align: right;
            button {
              display: none;
            }
          }
          &.isSelected, &:hover {
            .inventoryButtons{
              display: flex !important;
              padding-right: 10px;

            }
            .searchRowUtilities button {
              display: flex;
              @media all and (max-width: $break-width){

                  span{
                    display: none;
                    &.icon {
                      display: block;
                    }

                  }


              }
            }
          }
          $imageWidth: 80px;
          .previewIcon {
            display: inline;
            padding-left: 4px;
            .icon {
              font-size: 14px;
              display: none;
              @media all and (max-width: $break-width) {
                display: inline-block;
              }
            }
            .cardPreview {
              position: absolute;
              display: none;
              //top: 40px;
              //left: (($imageWidth * -1) - 10);
              top: 100px;  // compensates for advanced setting
              right: 20px; // compensates for scroll

              width: (265px * .8);
              height: (370px * .8);
              z-index: 90000001;
              padding: 10px;
              border-radius: 5px;
              background: black;
              @media all and (max-width: $break-width) {
                &.isSelected {
                  display: block;
                }
              }

              img {
                width: 100%;
                height: 100%;
              }

            }

            &.open {
              .cardPreview {
                display: block;
              }
            }
          }
          .searchImage {
            height: 49px;
            width: $imageWidth;
            min-width: $imageWidth;
            position: relative;
            overflow: hidden;
            margin-right: 10px;
            background: black;

            img {
              width: 100%;
              z-index: 1;
              position: absolute;
              top: 0px;
              left: 0px;
            }

            i, div {
              position: relative;
              z-index: 2;

              &.ss-2x {
                font-size: 1.8em
              }
            }

            i {
              margin-left: 3px;
              color: black;
              $shadow: rgba(255, 255, 255, 0.7);
              text-shadow: -1px -1px 0 $shadow, 1px -1px 0 $shadow, -1px 1px 0 $shadow, 1px 1px 0;
            }

            div.mana {
              margin-top: 4px;
              margin-right: 2px;
              text-align: right;
              white-space: nowrap;
              line-height: 13px;

              .symbol {
                width: 13px;
                box-shadow: 0px 0px 2px #000;
                border-radius: 50%;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .card-footer {
      margin: 0px 20px 0px 16px;
      background-color: darken($mage-grey,35%);
      border-radius: 0px 0px 5px 5px;
      @media all and (max-width: 1200px){
        p {
          font-size: 11px;
        }
      }
      @media all and (max-width: $break-width){
        display: none;
      }
      .button {
        box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
        border: 1px solid black;
      }
    }
    // overrides
    .field:not(:last-child){
      margin-bottom: .75rem;
    }


}
