
.pricing-tool{
	text-align: center;
	h4.opening-text{
		margin-top: 15%;
		color: white;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		text-shadow: 0px 0px 10px black;
		display: inline-block;
		padding: 10px 18px;
		@media all and (max-width: $break-width){
			font-size: 24px;
		}
		
	}
	
	.how-it-works{
		p {
			font-size: 24px;
			color: black;
		}
		background: WHITE;
		color: black;
		padding: 20px;
		font-size: 24px;
		
	}
}