.errorBox {
  background: #fff;
  border-radius: 5px;
  border: 1px red solid;
  margin: 20px;
  padding: 10px;
  color: black;
}
.errorBox h2 {
  font-size: 14px; font-weight: bold;
}

.lists2 .table {
  background: transparent;
}

.lists2{
  padding: 0px 20px 40px 20px;
}
.lists2 .title:not(:last-child) {
  margin-bottom: 0.4rem;
}
.lists2 .tags, .lists2 .tags:not(:last-child) {
  margin-bottom: 0.1rem;
}
.lists2 .deck-view {
  margin-top: 15px;
}
.lists2 .deck-view ul {
  margin-bottom: 1rem;
}
.lists2 .container.bg{
  /*background: #272b30;*/
  /*border: 1px #52575c solid;*/
  /*border-top: none;*/
}
.lists2 .tabs{
  margin-bottom: 0px;
}
.lists2 {
  .select.is-small{
    font-size: .70rem;
  }
}
.color-strip {
}


.color-strip.green{
  border-left: 3px forestgreen solid;
}
.color-strip.red{
  border-left: 3px red solid;
}
.color-strip.white{
  border-left: 3px yellow solid;
}
.color-strip.colorless{
  border-left: 3px #999 solid;
}
.color-strip.black{
  border-left: 3px black solid;
}
.color-strip.blue{
  border-left: 3px dodgerblue solid;
}
.color-strip.blue.black, .color-strip.black.green{
  border-left: 3px gold solid;
}

.lists2 #listApp .deck-item-icon-button span {
  color: #a8b7d1;
}

.lists2 #listApp .deck-item-icon-button:hover span{
  color: #fff;
}

.lists2 .card-footer, .lists2 .card-header{
  padding: 0;
}
.lists2 .card-header-title {
  margin-bottom: 0;
}
.lists2 .card {
  border: none;
}
