.price-add-button {

  .icon{
    font-size: 1rem;
    height: 0;
    width: .5em;
  }
}


.setTabs{
	position: relative;
	z-index: 2;
	margin-bottom: 0px !important;
	margin-top: -40px;

	&.tabs{
		li{
			a {
				color: white;
				text-shadow: 0px 0px 5px black;
			}
			a:hover {
				background-color: rgba(255,255,255,.5);
				color: black;
				text-shadow: 0px 0px 5px white;
			}
			&.is-active {
				a {
					color: black;
					text-shadow: none;
					&:hover{
						text-shadow: none;
						background-color: white;
					}
				}

			}

		}
	}

  @media all and (max-width: $break-width){
		margin-top: -30px;
    &.tabs{
      li{
        a {
          color: white !important;
          text-shadow: 0 0 5px black !important;
          font-size: 70%;
        }
        &.is-active{
          a {
            color: black !important;
            text-shadow: none !important;
            font-size: 70%;
          }

        }
      }
    }
	}
}

.is-dark-mode-active {
	.setTabs.tabs{

		li{


			&.is-active{
				a {
					background: black;
					color: white;
					&:hover {
						background-color: black;
						color: white;
						text-shadow: none;
					}
				}
			}
		}
	}
}
.itemTDView{
	position: relative;
}
#wikiUpdateForm {
	.field-body {
		margin-bottom: 5px;
	}
}

.setItemRow{
	.wikiButton{
		display: none;
	}
	&:hover{
	 .wikiButton{
		 display: inline-block;
	 }
	}
}

#setApp {
	.container{
		z-index: 2;
		background: black;
		min-height: 200px;
		margin: 0 auto 0 0;

	}
}

.set-item-list-container {
	.filterBar{
		position: sticky;
		top: 50px;
		z-index: 10;
	}
	@media all and (max-width: $break-width){
		$smallOverride: .69rem;
		.control {
			.is-small {
				font-size: $smallOverride;
			}
		}
		.select.is-small, .button.is-small  {
			font-size: $smallOverride;
		}
		.is-small.input {
			font-size: $smallOverride;
		}
		.control.has-icons-left .icon.is-small{
			font-size: $smallOverride;
		}
	}
	p {
		margin-bottom: 0;
	}
	.control, .select {
		margin-right: 4px;
		margin-bottom: 0;
		.valueAboveInput {
			width: 44px;
			padding-left: 2px;
			padding-right: 2px;
			text-align: center;
		}
	}
	.field {
		margin-bottom: 0;
	}
}

.setViews {
}
.is-dark-mode-active .setViews{
  background: black;
}
$imageHeight: 180px;
.setSummary, .cardSummary {
	position: relative;
	padding: 20px;
  overflow: hidden;
	height: $imageHeight;
	background: black;

	* {
		z-index: 2;
		position: relative;
	}

	h1 {
		font-size:  24px;
		text-shadow: 0px 0px 3px #000,0px 0px 5px #000,0px 0px 4px #000;
		margin-bottom: 0px;
    a {
      color: white;
    }
	}
	h2, p {
		text-shadow: 0px 0px 3px #000,0px 0px 4px #000,0px 0px 5px #000;
    color: white;
	}
	.largeSetIcon{
		font-size: 100px !important;
		display: inline-block;
		float: left;
    color: white;
		margin-right: 15px;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
		opacity: .9;
	}

  .largeBackgroundIcon{
    -webkit-text-stroke-width: 0px;
    opacity: 1;
    color: #333;
    float: none;
    position: absolute;
    top: -25%;
    right: -2%;
    transform: rotate(20deg);
    font-size: 300px !important ;
  }

  .largeLorcanaBackgroundImage{

    float: none;
    position: absolute;
    top: -15%;
    right: -2%;
    transform: rotate(20deg);
  }

  @media all and (max-width: $break-width){
		height: $imageHeight * .85;
    .largeSetIcon{
      font-size: 60px !important;
    }
    h1, h2{
      font-size: 80%;
    }

	}


	div.imageBox {
		width: 400px;
		height: 100%;
		position: absolute;
    	overflow: hidden;
		top: 0px;
		left: 0px;
    z-index: 0;
		@media all and (max-width: $break-width){
			width: 400px;
			height: 320px;
		}

    &::before {
			content: ""; // ::before and ::after both require content
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0px;
			z-index: 1;
			background-image:
					linear-gradient(90deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
			@media all and (max-width: $break-width){
				background-image:
					linear-gradient(90deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, .5), rgba(0, 0, 0, 1)),
					linear-gradient(180deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
			}
		}

		.setTopImage {
			z-index: 0;
			position: absolute;
			top: -20%;
			left: 0px;
			bottom: 0px;
			right: 0px;
			width: 150%;
		}
    .setTopImageLorcana {
			z-index: 0;
			position: absolute;
			top: -5%;
			left: 0px;
			bottom: 0px;
			right: 0px;
			width: 150%;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),  rgba(11, 14, 49, 0.5), rgb(11, 14, 49)) !important;
		}
	}

}

.cardSummary{
	overflow: hidden;
	position: relative;
}

// bulma overrides


.image-thumbnail{
	float: left;
	margin-right: 5px;
	width: 44px;
	height: 60px;
	background: url('https://assets.echomtg.com/interface/echo-mage-logo-icon.png') no-repeat center center 60% auto;
	overflow: hidden;
	border-radius: 4px;
}

.percentage-bar{
	height: 30px;
	background: $mage-grey;
	position: relative;
	.percentage{
		background: green;
		height: 30px;
		float:left;
	}
	span{

		position: absolute;
		top: 8px;
		left: 10px;
		padding-left: 10px;
		text-shadow: 0px 0px 1px #009900;
		font-weight: bold;
	}

}

.todaysprices {
	.label:not(:last-child){
		margin-bottom: 0px;
	}
}
