//colors
// colors

$mage-dark: #202328;
$mage-grey: #7f8694;
$foil-price: rgb(235, 222, 186);
$foil-color: $foil-price;
$header-height: 40;
$header-size: 40px;
$black: #010b0f;
$border-color: #3a3f44;
$grey: #1f1f20;
$oval-background: #262626;
$cdnsymbolpath: 'https://assets.echomtg.com/symbols/mtg/';
$break-width: 900px;
$tablet-width:1040px;
$navigation: #4b4b4b; //
$up-green: #108921;
$button-blue: #0366DD;
$echo-blue: $button-blue;

$storelv2-color:purple;
$storelv1-color:blue;
$mythic-color:maroon;
$rare-color:gold;
$uncommon-color:silver;
$common-color:grey;


$nav-aside-width: 200px;
$nav-background: $mage-dark;


.setsymbol {
  -webkit-text-stroke: .03em rgba(0,0,0,.4);
}
.gold-symbol{
  background: linear-gradient(to left,#876a3b 0,#dfbd6b 50%,#876a3b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.mythic-symbol{
  background: linear-gradient(to left,#e16a02 0,#df8e6b 50%,#df8f0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.common-symbol{
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .04em rgba(0,0,0,.6) !important;
}

.uncommon-symbol{
  background: linear-gradient(to left,#858585 0,#e4e4e4 50%,#8f8f8f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.mythic-symbol{
  color: maroon;
}

.mage-grey {
	color: $mage-grey;
}
.rainbow-text{
  background: linear-gradient(to right,#e254dd 0%,#30ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// make these transpacrent
.rainbow-background {

  background: linear-gradient(to right,#e254dd 0%,#30ffff 100%)

}
