.expanded-logo {
    display: none;
    width: 89%;
    margin-top: 9px;
}
.closed-logo{
    display: block;
    width: 70%;
    margin-left: 14%;
    margin-top: 3px;
}

.aside.is-expanded {
    .expanded-logo {
        display: block;
    }
    .closed-logo{
        display: none;
    }
}