.expanded-logo {
    display: none;
    width: 89%;
    margin-top: 9px;
}
.closed-logo{
    display: block;
    width: 70%;
    margin-left: 14%;
    margin-top: 3px;
}

.aside.is-expanded {
    .expanded-logo {
        display: block;
    }
    .closed-logo{
        display: none;
    }
}

.has-aside-mobile-expanded .aside {
  .expanded-logo {
    display: block !important;
    width: 85% !important;
    margin-left: 5px !important;
    margin-top: 10px !important;
  }
  .closed-logo{
      display: none;
  }
}
